@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Neuton:400,700,400italic);
body {
    background-image: url("../img/fondo-guitarra.png"), url("../img/fondo.jpg");
    background-repeat: repeat-y,repeat;
    background-color: #b09f85;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
   }
p { font-family: 'Neuton', serif;}

h1, h2, h3 {color:white;
            }
h1 {background-color: #d7676f;
    text-align: center;}
h2 {background-color: #5eb5ba;
    text-align: center;
    }
a {color:white;}
h3:hover {background-color: black;}
a:hover {font-size: 3em;
        text-transform: capitalize;}
h3:hover+p {background-color: black;}
h3 {background-color: #dda752;

    }
h3+p {color:white;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 2px black;}
strong {color: #5f1805;}
#principal, #lista {margin-left: 280px;
                    }
